<h1 style="text-align: center;"><strong>BAJER EXPERT</strong></h1>
<div style="text-align: center;"><em>Centrum Szkoleniowe Sp&oacute;łdzielni i Wsp&oacute;lnot Mieszkaniowych Jerzy Bajer</em></div>
<div style="text-align: center;"><em>ul. Zygmunta Krasińskiego 4/2 07-100 Węgr&oacute;w</em></div>
<div style="text-align: center;"><em>NIP: 8240003999</em></div>
<div style="text-align: center;"><em>Tel: +48 728816495</em><br />
<div style="text-align: center;"><em>Email: <a href="mailto:info@bajerszkolenia.pl">info@bajerszkolenia.pl</a></em></div>
<div>&nbsp;</div>
<div style="text-align: left;">Dzień dobry, {name} {surname}</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">Przypominamy o nadchodzącym szkoleniu</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><strong>Szkolenie: </strong>{coursename}</div>
<div style="text-align: left;"><strong>Data: </strong>{coursedate}</div>
<div style="text-align: left;"><strong>Godzina: </strong>{coursetime}</div>
<div style="text-align: left;"><strong>Szkoleniowiec: </strong>{courseinstructor}</div>
<div style="text-align: left;"><strong>Miejsce szkolenia: </strong>{courseplace}</div>
<div style="text-align: left;"><strong>Dodatkowe informacje: </strong>{coursenote}</div>
<div style="text-align: left;">
<h3 style="text-align: left;"><strong>Zgłoszeni uczestnicy:</strong></h3>
<div style="text-align: left;">{attendeelist}</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">WAŻNE: Jeżeli na szkoleniu miałaby zjawić się inna osoba w miejsce zgłoszonej, prosimy o kontakt mailowy.</div>
<div style="text-align: left;">&nbsp;</div>
<h3 style="text-align: left;">Status płatności: {paymentstatus}</h3>
<p>WAŻNE: W przypadku braku płatności prosimy o jaknajszybsze jej dokonanie. W razie problem&oacute;w prosimy o kontakt mailowy celem wyjaśnienia sytuacji.&nbsp;</p>
<div style="text-align: left;">
<div style="text-align: left;">Pozdrawiamy,</div>
<div style="text-align: left;"><em>Zesp&oacute;ł BAJER EXPERT</em></div>
</div>
</div>
</div>