<h1 style="text-align: center;"><strong>BAJER EXPERT</strong></h1>
<div style="text-align: center;"><em>Centrum Szkoleniowe Sp&oacute;łdzielni i Wsp&oacute;lnot Mieszkaniowych Jerzy Bajer</em></div>
<div style="text-align: center;"><em>ul. Zygmunta Krasińskiego 4/2 07-100 Węgr&oacute;w</em></div>
<div style="text-align: center;"><em>NIP: 8240003999</em></div>
<div style="text-align: center;"><em>Tel: +48 728816495</em></div>
<div style="text-align: center;"><em>Email: <a href="mailto:info@bajerszkolenia.pl">info@bajerszkolenia.pl</a></em></div>
<div>&nbsp;</div>
<div><strong>Ta wiadomość dotyczy szkolenia: {courseData}</strong></div>
<div>&nbsp;</div>
<p>{courseEmailMessage}</p>
<div>&nbsp;</div>
<div style="text-align: left;">Pozdrawiamy,</div>
<div style="text-align: left;"><em>Zesp&oacute;ł BAJER EXPERT</em></div>