<h1 style="text-align: center;"><strong>BAJER EXPERT</strong></h1>
<div style="text-align: center;"><em>Centrum Szkoleniowe Sp&oacute;łdzielni i Wsp&oacute;lnot Mieszkaniowych Jerzy Bajer</em></div>
<div style="text-align: center;"><em>ul. Zygmunta Krasińskiego 4/2 07-100 Węgr&oacute;w</em></div>
<div style="text-align: center;"><em>NIP: 8240003999</em></div>
<div style="text-align: center;"><em>Tel: +48 728816495</em><br />
<div style="text-align: center;"><em>Email: <a href="mailto:info@bajerszkolenia.pl">info@bajerszkolenia.pl</a></em></div>
<div>&nbsp;</div>
<div style="text-align: left;">Dzień dobry, {name} {surname}</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">Dziękujemy za wybranie naszych usług.</div>
<div style="text-align: left;">Poniżej przesyłamy podsumowanie twojego zgłoszenia.</div>
<h3 style="text-align: left;">Twoje szkolenie:</h3>
<div style="text-align: left;"><strong>Szkolenie: </strong>{coursename}</div>
<div style="text-align: left;"><strong>Data: </strong>{coursedate}</div>
<div style="text-align: left;"><strong>Godzina: </strong>{coursetime}</div>
<div style="text-align: left;"><strong>Szkoleniowiec: </strong>{courseinstructor}</div>
<div style="text-align: left;"><strong>Miejsce szkolenia: </strong>{courseplace}</div>
<div style="text-align: left;"><strong>Dodatkowe informacje: </strong>{coursenote}</div>
<h3 style="text-align: left;"><strong>Twoje dane:</strong></h3>
<div style="text-align: left;"><strong>Imie: </strong>{name}</div>
<div style="text-align: left;"><strong>Nazwisko:</strong> {surname}</div>
<div style="text-align: left;"><strong>Numer telefonu: </strong>{signupphonenumber}</div>
<div style="text-align: left;">
<div style="text-align: left;"><strong>Email:</strong> {signupemail}</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><strong>Nazwa firmy:&nbsp;</strong>{signupcompanyname}</div>
<div style="text-align: left;"><strong>Adres firmy:&nbsp;</strong>{signupcompanyadress}</div>
<div style="text-align: left;"><strong>NIP firmy:&nbsp;</strong>{signupcompanynip}</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">WAŻNE: Jeżeli kt&oacute;rekolwiek z powyższych informacji jest nieprawidłowa, prosimy o jaknajszybszy kontakt drogą mailową. Wszystkie błędy postaramy się jak najszybciej poprawić.</div>
<div style="text-align: left;">&nbsp;</div>
<h3 style="text-align: left;">DANE DO PŁATNOŚCI</h3>
<div style="text-align: left;"><strong>Numer rachunku:&nbsp;</strong>PLxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
<div style="text-align: left;"><strong>Odbiorca:&nbsp;</strong>BAJER EXPERT Jerzy Bajer</div>
<div style="text-align: left;"><strong>Tytuł:&nbsp;</strong>{paymenttitle}</div>
<div style="text-align: left;"><strong>Kwota:&nbsp;</strong>{paymentamount} PLN</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">Poinformujemy państwa o otrzymaniu płatnosci. Jej termin to 7 dni (roboczych) od momentu zapisu. Prosimy o terminowe dokonanie wpłaty.</div>
<div style="text-align: left;">WAŻNE: W przypadku braku wpłaty zapis zostanie anulowany.</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">Fakturę VAT wystawiamy najp&oacute;źniej w dniu usługi.</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">
<div style="text-align: left;">Pozdrawiamy,</div>
<div style="text-align: left;"><em>Zesp&oacute;ł BAJER EXPERT</em></div>
</div>
</div>
</div>